In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statistics
import re
import os
from collections import OrderedDict
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data.head(30)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015
6,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,2598,5.8,2015
7,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,4572,7.6,2015
8,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,2893,6.5,2015
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
10,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,Sam Mendes,A Plan No One Escapes,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/2015,3254,6.2,2015
11,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,1937,5.2,2015
12,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,Alex Garland,There is nothing more human than the will to s...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/2015,2854,7.6,2015
13,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,Chris Columbus,Game On.,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/2015,1575,5.8,2015
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015
15,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,Quentin Tarantino,No one comes up here without a damn good reason.,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/2015,2389,7.4,2015
16,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,Olivier Megaton,It Ends Here,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/2015,1578,6.1,2015
17,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,Peyton Reed,Heroes Don't Get Any Bigger,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/2015,3779,7.0,2015
18,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,Kenneth Branagh,Midnight is just the beginning.,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/2015,1495,6.8,2015
19,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,2380,6.5,2015
20,tt1964418,5.462138,190000000,209035668,Tomorrowland,Britt Robertson|George Clooney|Raffey Cassidy|...,Brad Bird,Imagine a world where nothing is impossible.,"Bound by a shared destiny, a bright, optimisti...",130,Action|Family|Science Fiction|Adventure|Mystery,Walt Disney Pictures|Babieka|A113,5/19/2015,1899,6.2,2015
21,tt1798684,5.337064,30000000,91709827,Southpaw,Jake Gyllenhaal|Rachel McAdams|Forest Whitaker...,Antoine Fuqua,Believe in Hope.,"Billy ""The Great"" Hope, the reigning junior mi...",123,Action|Drama,Escape Artists|Riche-Ludwig Productions,6/15/2015,1386,7.3,2015
22,tt2126355,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,5/27/2015,2060,6.1,2015
23,tt2322441,4.710402,40000000,569651467,Fifty Shades of Grey,Dakota Johnson|Jamie Dornan|Jennifer Ehle|Eloi...,Sam Taylor-Johnson,Are you curious?,When college senior Anastasia Steele steps in ...,125,Drama|Romance,Focus Features|Trigger Street Productions|Mich...,2/11/2015,1865,5.3,2015
24,tt1596363,4.648046,28000000,133346506,The Big Short,Christian Bale|Steve Carell|Ryan Gosling|Brad ...,Adam McKay,This is a true story.,The men who made millions from a global econom...,130,Comedy|Drama,Paramount Pictures|Plan B Entertainment|Regenc...,12/11/2015,1545,7.3,2015
25,tt2381249,4.566713,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,2349,7.1,2015
26,tt2637276,4.564549,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,1666,6.3,2015
27,tt2802144,4.503789,81000000,403802136,Kingsman: The Secret Service,Taron Egerton|Colin Firth|Samuel L. Jackson|Mi...,Matthew Vaughn,Manners maketh man.,The story of a super-secret spy organization t...,130,Crime|Comedy|Action|Adventure,Twentieth Century Fox Film Corporation|Marv Fi...,1/24/2015,3833,7.6,2015
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,1559,7.8,2015
29,tt4046784,3.968891,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,9/9/2015,1849,6.4,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = dict() # answer map

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
biggest_budget = data[data['budget'] == max(data['budget'])]
print(biggest_budget['original_title'])

answer_ls[1] = "1.) The Warrior's Way (tt1032751)"

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
longest_movie = data[data['runtime'] == max(data['runtime'])]
print(longest_movie['original_title'])

answer_ls[2] = "2.) Gods and Generals (tt0279111)"

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
shortest_movie = data[data['runtime'] == min(data['runtime'])]
print(shortest_movie['original_title'])

answer_ls[3] = "3.) Winnie the Pooh tt1449283"

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
# way 1 to solve the question
count = 0
for index, row in data.iterrows():
    count += row['runtime']
average_runtime = count / len (data)
print(average_runtime) 

# way 2 to solve the question
mean_runtime = data['runtime'].mean()
print(mean_runtime) 

answer_ls[4] = "4.) 109.653 -> 110"

109.65343915343915
109.65343915343915

# 5. Средняя длительность фильма по медиане?

Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(data.describe())
median_runtime = np.median(data['runtime'])

print(median_runtime)

# that was wrong, because i used mean instead of median, damn it
answer_ls[5] = "5.) 106.5 -> 106 (should be)"

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers tt0848228
2. Minions tt2293640
3. Star Wars: The Force Awakens tt2488496
4. Furious 7 tt2820852
5. Avatar tt0499549

In [10]:
data['profit'] = data['revenue'] - data['budget']
#display(data.head())
biggest_profit = data[data['profit'] == max(data['profit'])]
display(biggest_profit)

answer_ls[6] = "6.) Avatar tt0499549"

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
loser_movie = data[data['profit'] == min(data['profit'])]
display(loser_movie)

answer_ls[7] = "7.) The Warrior's Way"

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
movies_in_profit = data[data['profit'] > 0]
display(movies_in_profit.describe())

answer_ls[8] = "8.) 1478"

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
count,1478.000000,1.478000e+03,1.478000e+03,1478.000000,1478.000000,1478.000000,1478.000000,1.478000e+03
mean,1.783087,5.742285e+07,1.915854e+08,110.126522,945.927605,6.240122,2008.039242,1.341626e+08
std,2.017734,5.170014e+07,2.295625e+08,18.288838,1152.092195,0.738106,4.479981,1.941708e+08
min,0.010335,5.000000e+06,8.203235e+06,72.000000,13.000000,3.400000,2000.000000,2.000000e+06
25%,0.778012,2.000000e+07,5.903202e+07,97.000000,234.250000,5.800000,2004.000000,2.724810e+07
50%,1.240707,4.000000e+07,1.130136e+08,107.000000,547.500000,6.200000,2008.000000,6.709555e+07
75%,2.061210,7.875000e+07,2.218417e+08,121.000000,1157.250000,6.700000,2012.000000,1.507748e+08
max,32.985763,3.800000e+08,2.781506e+09,201.000000,9767.000000,8.100000,2015.000000,2.544506e+09

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
release_2008 = data[data['release_year'] == 2008]
profit_2008 = release_2008[release_2008['profit'] == max(release_2008['profit'])]
display(profit_2008)

answer_ls[9] = "9.) The Dark Knight"

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
# way 1
year_12_14 = data[(data['release_year'] == 2012) | (data['release_year'] == 2013) | (data['release_year'] == 2014)]
# way 2
year_12_14 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2013)]

loser_movies = year_12_14[year_12_14['profit'] == min(year_12_14['profit'])]
display(loser_movies)

answer_ls[10] = "10.) The Lone Ranger"

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
genres_list = data.genres.tolist()
c = Counter()
for genres in genres_list:
    c.update(genres.split('|'))
print(c.most_common(1))


answer_ls[11] = "11.) Drama"

[('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
genres_list = data[data['profit'] > 0].genres.tolist()
c = Counter()
for genres in genres_list:
    c.update(genres.split('|'))
print(c.most_common(1))

answer_ls[12] = "12.) Drama"

[('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
# way 1
director_list = data.director.tolist()
c = Counter()
for director in director_list:
    c.update(director.split('|'))
print(c.most_common(1))
# way 2
print(data.director.value_counts()[:1])

answer_ls[13] = "13.) Steven Soderbergh - 13 movies"

[('Steven Soderbergh', 13)]
Steven Soderbergh    13
Name: director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
# way 1
director_list = data[data['profit'] > 0].director.tolist()
c = Counter()
for director in director_list:
    c.update(director.split('|'))
print(c.most_common(1))

# way 2
print(data[data['profit'] > 0]['director'].value_counts()[:1])

answer_ls[14] = "14.) Ridley Scott - 12 movies"

[('Ridley Scott', 12)]
Ridley Scott    12
Name: director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
# way 1
c = Counter()
for index, row in data.iterrows():
    for director in row['director'].split('|'):
        c[director] += row['profit']
    
print(c.most_common(1))

# way 2
print(data.groupby(['director']).profit.sum().to_frame().reset_index().sort_values(by='profit', ascending=False)[:1])
    
answer_ls[15] = "15.) Peter Jackson - 5 202 593 685"

[('Peter Jackson', 5202593685)]
          director      profit
689  Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
c = Counter()
for index, row in data.iterrows():
    actor_list = row['cast'].split('|')
    for actor in actor_list:
        c[actor] += row['profit']
    
print(c.most_common(1))

answer_ls[16] = "16.) Emma Watson - 6 666 245 597"

[('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
c = Counter()
for index, row in data.iterrows():
    if row['release_year'] == 2012:
        actor_list = row['cast'].split('|')
        for actor in actor_list:
            c[actor] += row['profit']
    
print(c.most_common(1))

least_common = c.most_common()[-1]

print(least_common)

answer_ls[17] = "17.) Kirsten Dunst - -68 109 207"

[('Chris Hemsworth', 1542450773)]
('Kirsten Dunst', -68109207)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
mean_budget = data['budget'].mean()
c = Counter()
for index, row in data.iterrows():
    actor_list = row['cast'].split('|')
    for actor in actor_list:
        if row.budget > mean_budget: 
            c[actor] += 1
print(c.most_common(1))

answer_ls[18] = "18.) Matt Damon - 18"

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
# Version 1
c = Counter()
for index, row in data.iterrows():
    if 'Nicolas Cage' in row.cast: 
        genre_list = row['genres'].split('|')  
        for genre in genre_list:
            c[genre] += 1
print(c.most_common(1))

answer_ls[19] = "19.) Action"

[('Action', 17)]

In [24]:
# Version 2
actor = 'Nicolas Cage'

print(Counter(data[data.cast.str.contains(actor) == True].genres.str.split('|').sum()).most_common(1))

answer_ls[19] = "19.) Action"

[('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
c = Counter()
for index, row in data.iterrows():
    production_companies = row.production_companies.split('|')  
    for company in production_companies:
        c[company] += 1
        
print(c.most_common(1))

c2 = Counter()
#c2.update([i.split('|') for i in data['production_companies']])
print(data.production_companies.str.split('|'))

answer_ls[20] = "20.) Universal Pictures"

[('Universal Pictures', 173)]
0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1885    [Twentieth Century Fox Film Corporation, Donne...
1886                                    [New Line Cinema]
1887    [Universal Pictures, Capella International, KC...
1888    [Laurence Mark Productions, Columbia Pictures ...
1889                              [Warner Bros. Pictures]
Name: production_companies, Length: 1890, dtype: object

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
c = Counter()
for index, row in data.iterrows():
    if row.release_year == 2015:
        production_companies = row.production_companies.split('|')  
        for company in production_companies:
            c[company] += 1
        
print(c.most_common(1))

answer_ls[21] = "21.) Warner Bros"

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [27]:
c = Counter()
for index, row in data.iterrows():
    genres_list = row.genres.split('|')
    for genre in genres_list:
        if 'Comedy' in genre:
            production_companies = row.production_companies.split('|')  
            for company in production_companies:
                c[company] += row.profit
        
print(c.most_common(1))

answer_ls[22] = "22.) Universal Pictures"

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [28]:
c = Counter()
for index, row in data.iterrows():
    if row.release_year == 2012:
        production_companies = row.production_companies.split('|')  
        for company in production_companies:
            c[company] += row.profit
        
print(c.most_common(1))

answer_ls[23] = "23.) Columbia Pictures - 2 501 406 608"

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [29]:
# way 1
c = Counter()
for index, row in data.iterrows():
    production_companies = row.production_companies.split('|')  
    for company in production_companies:
        if 'Paramount Pictures' in company:
            c[row.original_title] += row.profit
        
print(c.most_common()[-1])

# way 2
print('*************************************************')
print(data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']])

answer_ls[24] = "24.) K-19: The Widowmaker"

('K-19: The Widowmaker', -64831034)
*************************************************
         profit                                     original_title
926   -64831034                               K-19: The Widowmaker
1124  -60519261                                           Timeline
1723  -51788987                                               Next
1624  -46604061                                              Alfie
1632  -24805000                                            Twisted
...         ...                                                ...
731   549713380               Mission: Impossible - Ghost Protocol
1739  559709780                                       Transformers
604   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
829   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [30]:
# way 1
c = Counter()
for index, row in data.iterrows():
    c[row.release_year] += row.profit
            
print(c.most_common(1))

# way 2
print('*************************************************')
print(data.groupby('release_year')['profit'].sum().sort_values(ascending=False))

answer_ls[25] = "25.) 2015 Total profit - 18 668 572 378"

[(2015, 18668572378)]
*************************************************
release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [31]:
# way 1
c = Counter()
for index, row in data.iterrows():
    production_companies = row.production_companies.split('|')  
    for company in production_companies:
        if 'Warner Bros' in company:
            c[row.release_year] += row.profit
        
print(c.most_common(1))

# way 2
print('*************************************************')
temp_df = data[data['production_companies'].str.contains('Warner Bros')]
print(temp_df.groupby('release_year')['profit'].sum().sort_values(ascending=False))


answer_ls[26] = "26.) 2014 - 2 292 949 646"

[(2014, 2292949646)]
*************************************************
release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [32]:
c = Counter()
for index, row in data.iterrows():
    month = row.release_date[0:row.release_date.index('/')]
    c[month] += 1
print(c.most_common(1))

# that was wrong, because of a copy-paste error from 30th question, damn it
answer_ls[27] = "27.) 4 - Сентябрь - 9 month - 227 movies"

[('9', 227)]

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [33]:
c = Counter()
for index, row in data.iterrows():
    month = row.release_date[0:row.release_date.index('/')]
    c[month] += 1
#print(c.most_common())

summer_movies = 0
for key in c:
    if (key == '6') | (key == '7') | (key == '8'):
        summer_movies += c[key]
print(summer_movies)

answer_ls[28] = "28.) 450"

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [34]:
c = Counter()
for index, row in data.iterrows():
    month = row.release_date[0:row.release_date.index('/')]
    if (month == '12') | (month == '1') | (month == '2'):
        c[row.director] += 1

print(c.most_common(1))

answer_ls[29] = "29.) Peter Jackson"

[('Peter Jackson', 7)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [35]:
c = Counter()
for index, row in data.iterrows():
    month = row.release_date[0:row.release_date.index('/')]
    c[month] += row.profit
    
print(c.most_common(1))

answer_ls[30] = "30.) Июнь"

[('6', 27551262500)]

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
d1 = dict()
d2 = dict()
for index, row in data.iterrows():
    production_companies = row.production_companies.split('|')  
    for company in production_companies:
        if company not in d1:
            d1[company] = []
        d1.update(company = d1.get(company).append(len(row.original_title)))
            
d1.pop("company", None)

for key in d1:
    d2[key] = statistics.mean(d1.get(key))

sorted_dict = OrderedDict(sorted(d2.items(), key=lambda x: x[1]))

# print the last item in this ordered dictionary
# ugly as fuck, my lack in python is killing my internal perfectionist there
sd_len = len(sorted_dict)
count = 0;
for k, v in sorted_dict.items():
    count += 1
    if sd_len == count:
        print ("%s: %s" % (k, v))

# this company has only 1 movies in this data set with a title:
# Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
answer_ls[31] = "31.) Four By Two Productions"

Four By Two Productions: 83

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [37]:
d1 = dict()
d2 = dict()
for index, row in data.iterrows():
    production_companies = row.production_companies.split('|')  
    for company in production_companies:
        if company not in d1:
            d1[company] = []
        d1.update(company = d1.get(company).append(len(row.original_title.split(' '))))
            
d1.pop("company", None)

for key in d1:
    d2[key] = statistics.mean(d1.get(key))

sorted_dict = OrderedDict(sorted(d2.items(), key=lambda x: x[1]))

# print the last item in this ordered dictionary
# ugly as fuck, my lack in python is killing my internal perfectionist there
sd_len = len(sorted_dict)
count = 0;
for k, v in sorted_dict.items():
    count += 1
    if sd_len == count:
        print ("%s: %s" % (k, v))

# this company has only 1 movies in this data set with a title:
# Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan
answer_ls[32] = "32.) Four By Two Productions"

Four By Two Productions: 12

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [38]:
uq_words = set()
ignored_words = set()
for index, row in data.iterrows():
    words = row.original_title.split(' ')
    for word in words:
        if len(word) > 0:
            uq_words.add(word.upper())
        else:
            ignored_words.add(word)
print(len(uq_words))

# actually, it's a very rought algorithm, so the answer is also rough...
answer_ls[33] = "33.) 2461"

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [39]:
# vote_average i suppose...
perc =[.20, .40, .60, .80, 0.99] 
#display(data.describe(perc))
# vote_average >= 7.8
best_movies = set()
for index, row in data.iterrows():
    if row.vote_average >= 7.8:
        best_movies.add(row.original_title)
        
if ('Inside Out' in best_movies) & ('Gone Girl' in best_movies) & ('12 Years a Slave' in best_movies):
    print('ONEONE1') # reallllyyy?????
elif ('BloodRayne' in best_movies) & ('The Adventures of Rocky & Bullwinkle' in best_movies):
    print('TWO2')
elif ('The Lord of the Rings: The Return of the King' in best_movies):
    print('THREE3')
elif ('300' in best_movies) & ('Lucky Number Slevin' in best_movies):
    print("FOUR4")

answer_ls[34] = "34.) 1. Inside Out, Gone Girl, 12 Years a Slave (ONEONE1)"

ONEONE1

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [40]:
d = dict()
actor_set = set()

# create a set with all actors...
for index, row in data.iterrows():
    actor_list = row['cast'].split('|')
    for actor in actor_list:
        actor_set.add(actor);
        
#print(actor_set)

# create a dict with an actor as a key and movies as values
for actor in actor_set:
    new_set = set()
    d[actor] = new_set
    
#print(d)

# populate the dict from above
for index, row in data.iterrows():
    actor_list = row['cast'].split('|')
    for actor in actor_list:
        if actor in d:
            d.update(actor = d.get(actor).add(row.original_title))
            
d.pop("actor", None)

cast_size = len(actor_set)

d3 = dict()
# i'm crying over performance...
# I also cannot believe it works..
for actor1 in actor_set:
    for actor2 in actor_set:
        if actor1 not in actor2:
            # triple data-structure
            key = [actor1, actor2]
            key.sort()
            value = len(d.get(actor1).intersection(d.get(actor2)))
            if value > 1:
                d3[str(key)] = value

sorted_dict = OrderedDict(sorted(d3.items(), key=lambda x: x[1]))

# print the last item in this ordered dictionary
# ugly as fuck, my lack in python is killing my internal perfectionist there
sd_len = len(sorted_dict)
count = 0;
for k, v in sorted_dict.items():
    count += 1
    if sd_len <= count + 3:
        print ("%s: %s" % (k, v))

# i really want to see a smarter solution than that...
answer_ls[35] = "35.) 5. Daniel Radcliffe & Rupert Grint"

['Helena Bonham Carter', 'Johnny Depp']: 6
['Emma Watson', 'Rupert Grint']: 8
['Daniel Radcliffe', 'Rupert Grint']: 8
['Daniel Radcliffe', 'Emma Watson']: 8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [41]:
d = dict()
director_set = set()

# create a set with all directors
for index, row in data.iterrows():
    director_list = row.director.split('|')
    for director in director_list:
        director_set.add(director)
#print(director_set)

c_profit = Counter()
c_deficit = Counter()
for index, row in data.iterrows():
    director_list = row.director.split('|')
    for director in director_list:
        if row.profit > 0:
            c_profit[director] += 1
        else:
            c_deficit[director] += 1

d_profit = Counter()
d_points = dict()
myc = Counter()
for director in director_set:
    profit_prob = c_profit[director]   # should return 0 if not exist
    deficit_prob = c_deficit[director] # should return 0 if not exist
    d_profit[director] = profit_prob - deficit_prob
    # the reason i got the wrong answer, duh
    #if profit_prob + deficit_prob <= 11:
    #    continue;

    if deficit_prob == 0:
        d_points[director] = 100
    else:
        percent_1 = (profit_prob + deficit_prob) / 100
        percent_profit = profit_prob / percent_1
        percent_deficit = deficit_prob / percent_1
        d_points[director] = percent_profit
        myc[director] = percent_profit

print(myc.most_common(1))        
sorted_dict = OrderedDict(sorted(d_points.items(), key=lambda x: x[1]))

answers = list()
answers.append('Quentin Tarantino')
answers.append('Steven Soderbergh')
answers.append('Robert Rodriguez')
answers.append('Christopher Nolan')
answers.append('Clint Eastwood')

for k, v in sorted_dict.items():
    if k in answers:
        print ("%s: %s" % (k, v))

answer_ls[36] = "36.) 4. Christopher Nolan"

[('Shawn Levy', 90.0)]
Robert Rodriguez: 72.72727272727273
Steven Soderbergh: 76.92307692307692
Clint Eastwood: 83.33333333333334
Quentin Tarantino: 85.71428571428571
Christopher Nolan: 100

# Submission

In [42]:
# minus 8 points = 92 points
len(answer_ls)

36

In [43]:
#result = pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

#result.drop_duplicates(subset = "Answer", keep = 'first', inplace = True) 
for i in range (1, len(answer_ls) + 1):
    print(answer_ls.get(i))

1.) The Warrior's Way (tt1032751)
2.) Gods and Generals (tt0279111)
3.) Winnie the Pooh tt1449283
4.) 109.653 -> 110
5.) 106.5 -> 106 (should be)
6.) Avatar tt0499549
7.) The Warrior's Way
8.) 1478
9.) The Dark Knight
10.) The Lone Ranger
11.) Drama
12.) Drama
13.) Steven Soderbergh - 13 movies
14.) Ridley Scott - 12 movies
15.) Peter Jackson - 5 202 593 685
16.) Emma Watson - 6 666 245 597
17.) Kirsten Dunst - -68 109 207
18.) Matt Damon - 18
19.) Action
20.) Universal Pictures
21.) Warner Bros
22.) Universal Pictures
23.) Columbia Pictures - 2 501 406 608
24.) K-19: The Widowmaker
25.) 2015 Total profit - 18 668 572 378
26.) 2014 - 2 292 949 646
27.) 4 - Сентябрь - 9 month - 227 movies
28.) 450
29.) Peter Jackson
30.) Июнь
31.) Four By Two Productions
32.) Four By Two Productions
33.) 2461
34.) 1. Inside Out, Gone Girl, 12 Years a Slave (ONEONE1)
35.) 5. Daniel Radcliffe & Rupert Grint
36.) 4. Christopher Nolan